body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_grid {
  min-height: 90vh;
  max-height: 95vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-gap: 24px;
}

body,button {
  background-color: black;
  color: white;
  font-family: monospace;
}

button {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 8px solid white;
  /*border-radius: 32px;*/
  font-size: 25vh;
  box-shadow: 8px 8px 0px 0px purple;
}
button:active {
  box-shadow: none;
  transform: translate(8px,8px);
}
