#btn_grid {
  height: 95vh;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%;
}

body,button {
  background-color: black;
  color: white;
  font-family: monospace;
}


button {
  display: block;
  margin: 16px;
  border: 8px solid white;
  /*border-radius: 32px;*/
  font-size: 25vh;
  box-shadow: 8px 8px 0px 0px purple;
}
button:active {
	box-shadow: none;
	transform: translate(7px,7px);
}
