body {
  overflow:none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_grid {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow:none;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
}

body,button {
  background-color: black;
  color: white;
  font-family: monospace;
}

button {
  display: block;
  margin: 16px;
  border: 8px solid white;
  /*border-radius: 32px;*/
  font-size: 25vh;
  box-shadow: 8px 8px 0px 0px purple;
}
button:active {
  box-shadow: none;
  transform: translate(8px,8px);
}
